body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("telu\ \(2\).jpg");
  background-size: cover;
  backdrop-filter:  blur(5px);
  overflow: hidden;
}

.kata {
    text-align: center;
}

#quotes {
  font-weight: 900;
  font-size: 20px;
}

#hias_kata {
    font-family: 'Netto Brushes', sans-serif;
    color: black;
    font-weight: bold;
    transform: translateX(35px);  
    align-items: center;
    padding-right: 6%;
    font-size: 21px;
  }

@font-face {
  font-family: 'Netto Brushes';
  src: url('Netto\ Brushes.otf') format('opentype');
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 14px;
    text-align: center;
    color: white;
    transform: translateY(150px);
    padding-right: 50px;
  }

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
  border-radius: 15px;
}

.clock #hour, #minutes,  #seconds {
  width: 100px;
  height: 80px;
  background: rgb(255, 0, 0);
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(150px);
  margin-bottom: 20%;
  border-radius: 15px;                            
  box-shadow: 10px 10px 5px pink;
}

.clock .text {
    width: 100px;
  height: 80px;
  background: rgb(255, 0, 0);
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(150px);
  margin-bottom: 20%;
  border-radius: 15px;       
}

.clock #ampm {
  width: 100px;
  height: 80px;
  background: rgb(255, 0, 0);
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(150px);
  margin-bottom: 20%;
  border-radius: 15px;       
  box-shadow: 8px 5px 5px greenyellow;
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(255, 123, 0);
  opacity: 0.8;
}

.clock #ampm {
  bottom: 0;
  position: relative;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: green;
  top: 65px;
  left: 20%;
}